
    <div class="container-fluid">
        <div class="row" *ngIf="showSpinner">
                <app-loading-spinner></app-loading-spinner>
        </div>

        <div>
                <form #f="ngForm" autocomplete="off">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="container">
                                    <div class="row">
                                            <div class="col-md-2"> Name </div>
                                            <div class="col-md-4"> 
                                                <input [(ngModel)]="name" name="name" id="name" type="text" class='form-control' placeholder='Enter Name' required />
                                            </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-2"> Email ID </div>
                                                <div class="col-md-4"> 
                                                <input [(ngModel)]="email" name="email" type="email" class="form-control" placeholder="Enter Email ID"  >
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-2"> Organization Name </div>
                                                <div class="col-md-4">
                                                     <input [(ngModel)]="companyName" name="companyName" type="text"   class="form-control" placeholder="Enter Organization name" ></div>
                                        </div>
                
                                        <div class="row">
                                                <div class="col-md-2"> Phone </div>
                                                <div class="col-md-4"> 
                                                    <input [(ngModel)]="phoneNumber" name="phoneNumber" type="text"   class="form-control" placeholder="Enter Phone Number" ></div>
                                        </div>
                
                                        <div class="row">
                                                <div class="col-md-2"> Additional Info </div>
                                                <div class="col-md-4"> 
                                                    <textarea [(ngModel)]="otherInfo" name="otherInfo"  class="form-control" rows="3"></textarea></div>
                                        </div>
                
                                        <div class="row">
                                                <div class="divIncenter form-group ">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                            <button type="button" class="btn btn-primary" [disabled]="!f.form.valid" (click)="saveBCard()">
                                                                Save Business Card
                                                            </button>
                                                            &nbsp;
                                                            <button class="btn btn-secondary"  (click)="saveReset()" type="reset">
                                                                    Reset
                                                                </button>
                                                            </div>
                                                        </div>
                                                            </div>    
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-6">

                                        <div  >    
                                            
                                            <table>
                                                <tr>
                                                    <td style="position: relative;left: 4%;">
                                                        <table>
                                                                <tr *ngIf="allowCamera">
                                                                        <td>
                                                                                <button name="browseFile" (click)="allowCamera" ngClass="{{getClassName()}}">
                                                                                        Close Camera                                                                               </button>
                                                                                <br><br>
                                                                                
                                                                        </td>
                                                                </tr>

                                                                <tr>
                                                                    <td>
                                                                            <img   [src]="imagePath" class="rounded" style="height: 200px; width: 250px;" id="bcImg"/>    
                                                                            
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                        <td>
                                                                                <br>
                                                                                <button name="browseFile" (click)="fileInput.click()" class="btn btn-info">Browse Business Card</button>
                                                                                <input style="display: none" #fileInput type="file" value="Browse Business Card" accept="image/*"  name="inputFile" (change)="changeListener($event)">
                                                                        </td>
                                                                </tr>

                                                                

                                                        </table>
                                                            
                                                    </td>
                                                    <td> &nbsp;&nbsp;&nbsp; </td>
                                                    <td >
                                                        <div *ngIf="allowCamera">
                                                                <app-webcam-component (imageClicked)="setImage($event,true)"></app-webcam-component>

                                                        </div>
                                                        <div *ngIf="!allowCamera" class="divIncenter container-fluid">
                                                                &nbsp;&nbsp;&nbsp;<button name="browseFile" (click)="allowCamera=!allowCamera" ngClass="{{getClassName()}}">
                                                                        <span *ngIf="!allowCamera">Open Camera</span>
                                                                        <span *ngIf="allowCamera">Close Camera</span>
                                                                </button>

                                                        </div>
                                                    </td> 

                                                    </tr>
                                            </table>
                                        </div>
                                  
                            </div>
                        </div>
                                      
                               
                    </div>
                    
                         
                        </form>
        </div>

       
</div>


<div class=" divIncenter p-3 mb-2 bg-light text-dark">

        <p class="text-primary"><b>{{TextExtractionStatus }} </b> </p>
    
</div> <br><br>
