<div class="{{blurMe}}" style="width:90%;">

<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Business Card</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li ><a href="#">Welcome {{getUser()}}</a></li>
        <!-- <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li> -->
      </ul>
      <span class="form-inline my-2 my-lg-0 mr-sm-2" style="float:right">
        <a href="#" class=" btn-danger" (click)="logoutMe()"><br>&nbsp;&nbsp;&nbsp;Logout&nbsp;&nbsp;&nbsp;</a>
      </span>
    </div>
  </nav>
  


  <div class="row">
      <button type="button" class="btn btn-success" (click)="onOpen(true)">Click to Add New Card</button>
  </div>
    <div>
        <app-business-card-search-component (onFilterBusinessCards)="searchByField($event)"></app-business-card-search-component>
    </div>

  
<div class="row">
    <!-- <section id="header"> New Business Card
        <div class="row" >
              <app-new-business-card-component [bCard]=currentBCard [curindex]=curindex (onSaveBCard)="saveBCard($event)"></app-new-business-card-component>
          </div>
  </section><br><br> -->
  <section id="body"> 
    <span>Business Card List</span>
    <div class="w-100" style="background-color: #eee;">
        <div class="w-100" *ngFor="let bCard of bCards  | async; index as i" width='100%'>
                <app-business-card [bCard]=getBCardObj(bCard) [index]=i (onUpdateBCard)="updateBCard($event)" (onDeleteBCard)="deleteBCard($event)"></app-business-card>
        </div>
    </div>
  </section>

</div>
</div>

<div class="container-fluid" id="mydiv" *ngIf="flag">
    <div class="row align-self-end" style="float: right;" >
      <button (click)="onOpen(!flag)" class="btn">Close</button>
    </div><br><br>
    <div class="row">
      <app-new-business-card-component [docID]="docID" [bCard]=currentBCard [curindex]=curindex (onSaveBCard)="saveBCard($event)"></app-new-business-card-component>
    </div>
    <div class="row align-self-center">
         <button (click)="onOpen(!flag)" class="btn">Close</button>
    </div>
  </div>