<table class="table">
    <thead *ngIf="index<1">
      <tr>
          <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <!--th scope="col">Priority</th-->
        <th scope="col">Organization</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Additional Info</th>
        <th scope="col">Uploaded BCard</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <tr>
                <th scope="row">{{index + 1}}</th>
                <td width="15%">{{bCard.$name}}</td>
                <td width="15%">{{bCard.$email}}</td>
                <td width="15%">{{bCard.$companyName}}</td>
                <td width="25%" class="text-left">&nbsp;  <img *ngIf="imagePath" [src]="imagePath" class="rounded" style="height: 60px; width: 120 px;"/></td>
                <td width="15%">{{bCard.$phoneNumber}}</td>
                <td width="15%">{{bCard.$otherInfo}}</td>
                <td width="10%">
                        <button type="button" (click)="updateBCard()" class="btn btn-secondary">Update</button> &nbsp; &nbsp;
                    <button type="button" (click)="deleteBCard()" class="btn btn-danger">Delete</button> 
                </td>
            </tr>
        </tbody>
    </table>