<div class="row" >

        <form #searchForm="ngForm">
            <div class="form-group">
                  <div class="row">
                      <div class="col-md-6"> 
                          <input name="name" type="text" class="form-control " placeholder="Enter Name" #name>
                      </div>
                      <div class="col-md-4"> 
                          <button type="button" class="btn btn-info" (click)="searchByField('name',name.value,false)">Search By Name</button>
                      </div>
                  </div>
                  <div class="row">&nbsp;</div>
                  <div class="row">
                     <div class="col-md-6"> 
                          <input name="name" type="text" class="form-control" placeholder="Enter Email" #email>
                      </div>
                      <div class="col-md-4"> 
                          <button type="button" class="btn btn-info" (click)="searchByField('email',email.value,false)">Search By Email</button>
                      </div>
                  </div>
                  <div class="row">&nbsp;</div>
                  <div class="row">
                      <div class="col-md-6"> 
                          <input name="name" type="text" class="form-control" placeholder="Enter Notes" #notes>
                      </div>
                      <div class="col-md-4"> 
                          <button type="button" class="btn btn-info" (click)="searchByField('otherInfo',notes.value,false)">Search By Notes</button>
                      </div>
                  </div>
                </div>
          </form>  
        <!-- <button type="button" class="btn btn-primary" (click)="onOpen(true)">Click to Add New Card</button> &nbsp;&nbsp; -->
        <!-- <button type="button" class="btn btn-primary" (click)="searchByField('','',true)">Show All Business Cards</button> -->
    </div>